body {
    background-color: #bcebcc;
}

div.header p {
    font-size: 28px;
    font-family: Arial Black;
    color: #618ad2;
}

div.footer {
    font-size: 10px;
    font-family: Arial Black;
    color: #000000;
}
table.main {
    height: 100%; 
    width: 100%; 
    margin: 0px;
    border: 1px solid black;
    border-collapse: collapse;
}

table.center, th, tr, td {
    border: 1px solid black;
}

table.center {
	display: table;
	margin: 0 auto;
	border: 1px solid black;
}

div.inv {
	text-align: left;  
}


